
/*This are Utilities that are common and reusable to all components */

.shadow-sm {
    --lms-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --lms-shadow-colored: 0 1px 2px 0 black;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--lms-ring-shadow, 0 0 #0000), var(--lms-shadow);
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 black, 0 1px 2px -1px black;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.mx-auto {
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

